# Dependency directories
node_modules/

# Local env files
.env
.env.local
.env.*.local

# Build directories
dist/
build/

# Logs
logs
*.log
npm-debug.log*

# IDE / Editor configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating system files
.DS_Store
Thumbs.db
desktop.ini
